@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --clr-primary-black: 214 12% 11%;
    --clr-secondary-grey: 95 0% 30%;
    --clr-font: 95 75% 100%;
    --clr-layout-green: 95 75% 50%;
  }
}